<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends 'layout.html' %}
    {% block title %}
    Ventana 2
    {% endblock %}
    {% block content %}
        <h1 class="title">Números de [{{a}} , {{b}}]</h1>
        <ul>
            {% for numero in rango_numeros %}
                <li>{{numero}} </li>
            {% empty %}
                Rango vacío
            {% endfor %}
        </ul>
    {% endblock %}
</body>

</html>